* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #080808;
    color: #fff;
    padding: 0px 20px;
}

#header {
    width: 100%;
    height: 18vh !important;
}


.yoe {
    margin-top: 5px;
    color: green;
    font-size: 30px;
}

.container {
    padding: 5px 5px 75px 50px !important;
}

nav {
    display: flex;
    align-items: center;
    height: 80px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {
    width: 140px;
}

nav ul {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
    list-style: none;
    padding: 0px 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0%;
    height: 3px;
    background-color: green;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.4s;
}

nav ul li a:hover::after {
    width: 100%;
}

.header-text {
    padding: 100px 0 !important;
    font-size: 25px;
    text-align: center;
}

.header-text h1 {
    font-size: 40px;
    margin-top: 20px;
}

.header-text h1 span {
    color: green;
}

.resume-active{
    background-color: green;
    border-radius: 15px;
    padding: 5px 10px;
}

/*--------------About me-------------------*/

#about {
    padding-top: 250px !important;
    color: #ababab;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1 {
    flex-basis: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-col-1 img {
    width: 60%;
    height: 60%;
    border-radius: 50%;
}

.about-col-2 {
    flex-basis: 65%;
}

.about-description {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    max-width: 1000px;
    color: #fff;
}

.sub-title {
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}

.about-col-2 p {
    font-size: 18px;
}

.tab-titles {
    display: flex;
    margin: 20px 0px 40px;
}

.tab-links {
    margin-right: 50px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    position: relative;
    color: gray;
}

.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background: green;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: .5s;
}

.tab-links.active-link::after {
    width: 70%;
}

.problem-solving {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    max-width: 1000px;
    color: #fff;
}

.problem-solving h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: green;
}

.problem-solving ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.problem-solving ul li {
    margin: 0.5rem 0;
    text-indent: -1.5rem;
    padding-left: 1.5rem;
    position: relative;
}

.problem-solving ul li::before {
    position: absolute;
    left: 0;
}

.tab-contents .experience {
    color: green;
    font-size: 20px;
}

.handles p {
    margin: 0.5rem 0;
}

.handles a {
    color: #007bff;
    text-decoration: none;
}

.handles a:hover {
    text-decoration: underline;
}

.tab-contents ul li {
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span {
    color: #fff;
    font-size: 20px;
}

.tab-contents ul li a {
    color: green;
    font-size: 16px;
    text-decoration: none;
}

.tab-contents ul li i {
    margin-left: 10px;
    margin-right: .2em;
    /* Adjust this value as needed */
}

.tab-contents ul li {
    position: relative;
}

.tab-contents ul li .fa-js {
    color: yellowgreen;
    font-size: 40px;
    transition: color 0.3s;
    position: relative;
}

.tab-contents ul li .fa-js:hover {
    color: yellow;
    position: relative;
}

.tab-contents ul li .fa-js:hover::after {
    content: 'JavaScript';
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 5px;
    background-color: white;
    padding: 2px 5px;
    border-radius: 3px;
    font-size: 12px;
    color: black;
    white-space: nowrap;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
    z-index: 1;
}

.skills h2 {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    color: green;
}

.web-development {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    color: green;
}

.category {
    margin-top: 1rem;
}

.category .icons {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
}

.category .icons i,
.category .framework-name,
.category .database-name {
    font-size: 1.1rem;
}

.category .framework-name,
.category .database-name {
    font-weight: normal;
    text-align: center;
}

.tick {
    font-size: 1.5rem;
    color: green;
    margin-right: 1rem;
    align-self: flex-start;
}

.tab-contents ul li .fa-python {
    color: skyblue;
    font-size: 40px;
    transition: color 0.3s;
    position: relative;
}

.tab-contents ul li .fa-python:hover {
    color: rgb(36, 35, 124);
    position: relative;
}

.tab-contents ul li .fa-python:hover::after {
    content: 'Python';
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 5px;
    background-color: white;
    padding: 2px 5px;
    border-radius: 3px;
    font-size: 12px;
    color: black;
    white-space: nowrap;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
    z-index: 1;
}

.tab-contents ul li .fa-php {
    color: lightblue;
    font-size: 40px;
    transition: color 0.3s;
    position: relative;
}

.tab-contents ul li .fa-php:hover {
    color: cyan;
    position: relative;
}

.tab-contents ul li .fa-php:hover::after {
    content: 'Php';
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 5px;
    background-color: white;
    padding: 2px 5px;
    border-radius: 3px;
    font-size: 12px;
    color: black;
    white-space: nowrap;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
    z-index: 1;
}

.tab-contents ul li .fa-node {
    color: lightgreen;
    font-size: 40px;
    transition: color 0.3s;
    position: relative;
}

.tab-contents ul li .fa-node:hover {
    color: green;
    position: relative;
}

.tab-contents ul li .fa-node:hover::after {
    content: 'Node .js';
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 5px;
    background-color: white;
    padding: 2px 5px;
    border-radius: 3px;
    font-size: 12px;
    color: black;
    white-space: nowrap;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
    z-index: 1;
}

.tab-contents ul li .fa-react {
    color: lightcyan;
    font-size: 40px;
    transition: color 0.3s;
    position: relative;
}

.tab-contents ul li .fa-react:hover {
    color: cyan;
    position: relative;
}

.tab-contents ul li .fa-react:hover::after {
    content: 'React';
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 5px;
    background-color: white;
    padding: 2px 5px;
    border-radius: 3px;
    font-size: 12px;
    color: black;
    white-space: nowrap;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
    z-index: 1;
}

.tab-contents ul li .fa-git {
    color: lightcoral;
    font-size: 40px;
    transition: color 0.3s;
    position: relative;

}

.tab-contents ul li .fa-git:hover {
    color: orange;
    position: relative;
}


.tab-contents ul li .fa-git:hover::after {
    content: 'Git';
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 5px;
    background-color: white;
    padding: 2px 5px;
    border-radius: 3px;
    font-size: 12px;
    color: black;
    white-space: nowrap;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
    z-index: 1;
}

.tab-contents ul li .fa-github {
    color: gray;
    font-size: 40px;
    transition: color 0.3s;
    position: relative;
}

.tab-contents ul li .fa-github:hover {
    color: lightblue;
    position: relative;
}

.tab-contents ul li .fa-github:hover::after {
    content: 'Github';
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 5px;
    background-color: white;
    padding: 2px 5px;
    border-radius: 3px;
    font-size: 12px;
    color: black;
    white-space: nowrap;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.tab-contents ul li .fa-gitlab {
    color: gray;
    font-size: 40px;
    transition: color 0.3s;
    position: relative;
}

.tab-contents ul li .fa-gitlab:hover {
    color: orangered;
    position: relative;
}

.tab-contents ul li .fa-gitlab:hover::after {
    content: 'Gitlab';
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 5px;
    background-color: white;
    padding: 2px 5px;
    border-radius: 3px;
    font-size: 12px;
    color: black;
    white-space: nowrap;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1;
}


.tab-contents ul li .fa-docker {
    color: lightblue;
    font-size: 40px;
    transition: color 0.3s;
    position: relative;
}

.tab-contents ul li .fa-docker:hover {
    color: rgb(36, 35, 124);
    position: relative;
}

.tab-contents ul li .fa-docker:hover::after {
    content: 'docker';
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 5px;
    background-color: white;
    padding: 2px 5px;
    border-radius: 3px;
    font-size: 12px;
    color: black;
    white-space: nowrap;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1;

}

.tab-contents ul li .fa-laravel {
    color: orange;
    font-size: 40px;
    transition: color 0.3s;
    position: relative;
}

.tab-contents ul li .fa-laravel:hover {
    color: orangered;
    position: relative;
}

.tab-contents ul li .fa-laravel:hover::after {
    content: 'Laravel';
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 5px;
    background-color: white;
    padding: 2px 5px;
    border-radius: 3px;
    font-size: 12px;
    color: black;
    white-space: nowrap;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1;

}

.education {
    font-size: 18px;
}

.education .u-name {
    color: green;
    font-size: 20px;
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab {
    display: block;
}

/*--------------My services-------------------*/

#services {
    padding: 10px 0;
    padding-left: 50px;
    padding-right: 50px;
    text-align: left;
}

.services-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
    margin-top: 20px;
}

.services-list div {
    background: #262626;
    padding: 20px 10px;
    font-size: 14px;
    font-weight: 300;
    border-radius: 10px;
    transition: transform 0.5s;
}

.services-list div i {
    font-size: 40px;
    margin-bottom: 20px;
    margin-left: 50px;
    margin-right: 5px;
}

.services-list div i.fa-js {
    color: yellow;
}

.services-list div i.fa-node {
    color: green;
}

.services-list div i.fa-react {
    color: cyan;
}

.services-list div i.fa-php {
    color: lightblue;
}

.services-list div i.fa-laravel {
    color: red;
}


.services-list div h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.services-list div h3 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
    margin-left: 50px;
}

.services-list div a {
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin: 20px;
    display: inline-block;
}

.services-list div:hover {
    background: #808080;
    transform: translateY(-10px);
}


/*--------------My personal-project-------------------*/

#personal-project {
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: left;
}

.sub-title {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: green;
    position: relative;
    display: inline-block;
}

.personal-project-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
    margin-top: 20px;
}

.personal-project-list div {
    background: #262626;
    padding: 20px 10px;
    font-size: 14px;
    font-weight: 300;
    border-radius: 10px;
    transition: transform 0.5s;
}

.personal-project-list div i {
    font-size: 30px;
    margin-bottom: 20px;
}

.personal-project-list div h2 {
    font-size: 30px;
    font-weight: 500;
    color: green;
}

.personal-project-list .tech {
    color: green;
    padding-bottom: 5px;
    font-size: 20px;
}

.personal-project-list .desc {
    font-size: 20px;
}

.personal-project-list .link {
    text-decoration: none;
    font-size: 20px;
    color: green;
    display: inline-block;
}

.personal-project-list div:hover {
    transform: translateY(-10px);
}

.btn {
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: transform 0.5s;
}

.btn:hover {
    background: #ff004f;

}


/*--------------Contact-------------------*/

.contact-left {
    flex-basis: 35%;
}

.contact-left p {
    margin-top: 30px;
}

.contact-left p i {
    color: #ff004f;
    margin-right: 15px;
    font-size: 25px;
}

.social-icons {
    margin-top: 30px;
}

.social-icons a {
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform .5s;
}

.social-icons a:hover {
    color: #ff004f;
    transform: translateY(-5px);
}

.btn.resume {
    display: inline-block;
    background: #ff004f;
}


.contact-right {
    flex-basis: 60%;
}


.contact-right form {
    width: 100%;
}

form input,
form textarea {
    width: 90%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}

form .submit {
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}

.btn.submit {
    display: inline-block;
    background: #ff004f;
}

/*--------------Copyright-------------------*/

.copyright {
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #111010;
    font-weight: 300;
    margin-top: 20px;
}

nav .fa-solid {
    display: none;
}

#msg {
    color: #61b752;
    margin-top: -40px;
    display: block;
}

/*--------------css for small screen-------------------*/
@media only screen and (max-width : 768px) {

    .header-text {
        margin-top: 10%;
        font-size: 22px;
    }

    .header-text h1 {
        font-size: 25px;
    }

    .problem-solving {
        padding: 1rem 0.5rem;
    }

    .problem-solving h2 {
        font-size: 1.25rem;
    }

    .handles p {
        font-size: 0.95rem;
    }

    nav .fa-solid {
        display: block;
        font-size: 25px;
    }

    nav ul {
        background: lightslategray;
        position: fixed;
        top: 0;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right .5s;
        display: flex;
        flex-direction: column;
    }

    nav ul li {
        display: block;
        margin: 25px;
    }

    nav ul .fa-solid {
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }

    .sub-title {
        font-size: 40px;
    }

    #about {
        padding: 10px 0;
        color: #ababab;
        margin-top: 100px !important;
    }

    .about-col-1,
    .about-col-2 {
        flex-basis: 100%;
    }

    .about-col-1 {
        margin-bottom: 30px;
    }

    .about-col-2 p {
        font-size: 14px;
    }


    .about-description p {
        font-size: 0.95rem;
    }

    .tab-contents ul li {
        font-size: 14px;
        margin-right: 14px;
    }

    .contact-left,
    .contact-right {
        flex-basis: 100%;
    }

    .category .icons i,
    .category .framework-name,
    .category .database-name {
        font-size: 1.2rem;
    }

    .category p {
        font-size: 1rem;
    }

    .personal-project-list {
        font-size: 1rem;
        gap: 20px;
    }

    .personal-project-list .tech {
        font-size: 1rem;
    }

    .personal-project-list .desc {
        font-size: 1rem;
    }

    .personal-project-list .link {
        font-size: 1rem;
    }

    .education {
        font-size: 1rem;
    }

    .education .u-name {
        font-size: 1rem;
    }

}